.Checkout-Modal {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding-top: 20px;
    border-radius: 10px;
    width: 475px;

}

.success{
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 305px;
    position: absolute;
    padding: 100px;
    color: rgb(38, 231, 38);
    z-index: 3;
}

.OverLay {
    background-color: rgba(0, 0, 0, 0.263);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card {
    color: rgb(58, 109, 221);
    font-weight: 600;
}

.Modal .picContainer {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -110px;
  margin-left: 0px;
  position: absolute;
  cursor: pointer;
  padding: 0 !important;
  border-radius: 100%;
}

.chkmodalInput {

    border: 0ch;
}

.chkmodalInput:focus {
  outline: none;
    border: 0ch;
}


.picContainer:hover > img:nth-child(1) {
  filter: brightness(98%);
}

.picContainer:hover > img:nth-child(2) {
  filter: brightness(120%);
}

.modalPic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 0px solid white;
  object-fit: cover;
}

.editPic {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 5px;
  bottom: 4px;
}

.Modal .chkmodalInput {
    padding: 10px;
    border: none;
    outline: none;
}
.header-text {
    align-self: start;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.inputWrap {

    display: flex;
    flex-direction: column;
}

.NameOnCard{
    width: 90%;
    margin-bottom: 23px;

}
.CardNumber{
    width: 90%;
    border: none;
    outline: none;
}

.CardEXP{
    width: 30%;
    border: none;
    outline: none;
}

.TabPanel{

    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid;
    border-radius: 0px 0px 5px 5px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
}

.terms-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
}

.amount-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.terms{
    padding: 5px;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.terms-header{
    margin: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
}

.terms-body{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.agreement{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.react-tabs__tab-list{
    margin : 0 0 -5px !important;
}



.Userinput{
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    display: inline-block;
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
    width: 95%;
}


.Cardinput{
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    display: flex ;
    flex-direction: row;

    padding-left: 10px;

    width: 95%;
}


.success {
    border-radius: 5px;
    color: #00ce45;
}
.Amountinput{
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    display: inline-block;
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
    width: 95%;

    margin-bottom: 30px;

}

